{% extends 'theme/theme1/layout.html.twig' %}

{% block body %}
    <div class="panel panel-default top-buffer">
        <div class="panel-heading">{{ 'About'|trans }}</div>
        <div class="panel-body">

        </div>
    </div>
{% endblock %}
